.DS_Store
.Rhistory
plots/
data*/
gh-md-toc

.mypy_cache
read_id_to_fast5

01_raw_fast5
01_raw_fast5.part
01_raw_fast5.org

02_basecalled_reads
02_basecalled_reads_fastq
02_basecalled_reads.tmp
03_read_names_fixed
04_read_data
05_trimmed_reads
06_subsampled_reads
07_assemblies
08_assembly_data
09_nanopolish
10_nanopolish_data
11_nanopolish_meth
12_nanopolish_meth_data
13_medaka
14_medaka_data
15_combined_polish
16_combined_polish_data

01.1_raw_fast5_splited.part/
01.1_raw_fast5_splited/
02.1_halcyon_inferred/
02.1_halcyon_inferred.part/

temp_rebaler_1243
